.fundo-container {
    background-image: url('../../assets/img/fundo.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed
}

.sessao-cabecalho {
    color: #FFF;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: 120px 0px 30px 0px;
}

.midias-sociais img {
    padding: 5px;
    border: 2px solid white
}

.midias-sociais img:hover {
    background-color: #3ec391
}

@media screen and (max-width: 576px) {
    .card {
        margin: 20px auto 20px auto
    }
}

.borda-card {
    max-width: 245px;
    border: none;
    border-radius: 0
}

.imagem-card {
    max-width: 245px;
    height: 184px;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover
}

.imagem-card:hover {
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -o-filter: brightness(70%);
    -ms-filter: brightness(70%);
    filter: brightness(70%);
}

.data-card {
    color: #656565;
}

.btn-mais-card {
    display: inline-block;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    text-align: center;
    background-color: #000;
    color: #fff;
    white-space: nowrap;
}

.btn-mais-card:hover {
    background-color: #3ec391;
    color: #fff;
    transition-duration: 0s
}

#btn-mais-posts div {
    margin: 40px auto 40px auto;
    max-width: 796px;
    padding: 20px 0px 20px 0px;
    background-color: #000;
    text-align: center
}

#btn-mais-posts div:hover {
    background-color: #3ec391;
    color: #fff;
    transition-duration: 1s
}