<div class="container-fluid fundo-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <section class="sessao-cabecalho">
          <h1>
            <a href="#">THE EVENTS</a>
          </h1>
          <p>
            Nosso espaço é o seu espaço e juntos podemos postar noticias, eventos e avisos
            <br /> de forma colaborativa e amigavel.
          </p>
          <p class="midias-sociais">
            <a href="#">
              <img src="../../assets/img/twitter.png">
            </a>
            <a href="#">
              <img src="../../assets/img/facebook.png">
            </a>
            <a href="#">
              <img src="../../assets/img/instagram.png">
            </a>
            <a href="#">
              <img src="../../assets/img/youtube.png">
            </a>
          </p>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card-deck justify-content-center">
          <div class="card borda-card">
            <a href="/assets/img/1.jpg" style="background-image: url('../../assets/img/1.jpg')" class="imagem-card" data-lightbox="1.jpg">
              <!--<img src="/assets/img/teste.jpg" style="display: none">-->
            </a>
            <div class="card-body">
              <p>
                <b>Encontro de Carros</b>
              </p>
              <p class="data">Seg 23 Abr 2018</p>
              <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo...</p>
              <a href="#" class="btn-mais-card">Saiba mais</a>
            </div>
          </div>
          <div class="card borda-card">
            <a href="/assets/img/2.jpg" style="background-image: url('../../assets/img/2.jpg')" class="imagem-card" data-lightbox="2.jpg"></a>
            <div class="card-body">
              <p>
                <b>Festival de Rua</b>
              </p>
              <p class="data-card">Seg 23 Abr 2018</p>
              <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo...</p>
              <a href="#" class="btn-mais-card">Saiba mais</a>
            </div>
          </div>
          <div class="card borda-card">
            <a href="/assets/img/3.jpg" style="background-image: url('../../assets/img/3.jpg')" class="imagem-card" data-lightbox="3.jpg"></a>
            <div class="card-body">
              <p>
                <b>Passeio em Veneza</b>
              </p>
              <p class="data">Seg 23 Abr 2018</p>
              <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo...</p>
              <a href="#" class="btn-mais-card">Saiba mais</a>
            </div>
          </div>
        </div>
        <a href="#" id="btn-mais-posts">
          <div>
            <i class="fa fa-plus"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>