<div class="container-fluid fundo-rodape">
  <div class="row">
    <div class="col-md-12">
      <footer class="text-center rodape">
        <h6>&copy; 2018
          <a href="#">THE EVENTS</a> &#8212; ALGUNS DIREITOS RESERVADOS</h6>
        <p>TRABALHO FEITO COM
          <i class="fa fa-heart"></i>
        </p>
        <p>BY
          <a href="#" id="link-criadores">MRT</a>
        </p>
      </footer>
    </div>
  </div>
</div>