.menu {
    background-color: #1d1d1d
}

nav {
    margin: 0 auto
}

.menu a:link, .menu a:visited, .menu a:active {
    color: #999
}

.menu a:hover {
    color: #fff
}

.menu .navbar-toggler {
    border-color: #1d1d1d;
    background-color: #1d1d1d
}

.navbar-toggler:focus {
    outline: 1px dotted;
    outline: none;
}

.fa-bars {
    color: #fff
}