<nav class="navbar navbar-expand-lg navbar-light fixed-top menu">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="">
      <i class="fa fa-bars fa-lg aria-hidden=true"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse abs-center-x" id="navbarNav">
    <nav>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CADASTRE-SE/LOGIN</a>
        </li>
      </ul>
    </nav>
  </div>
</nav>