/* You can add global styles to this file, and also import other style files */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a:link, a:visited, a:active {
    color: #fff
}

a:hover {
    color: #3ec391;
    text-decoration: none;
    transition-duration: 1s
}